:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; 
  background-color: #0f0f13; 
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}